body .order_datatable{
    direction: ltr;
}
div.dataTables_wrapper div.dataTables_info{
    color: transparent;
}
table.dataTable{
    vertical-align: middle;
}
.order_datatable .column_content{
    text-align: center;
    vertical-align: middle;
}