.slidePanel .panel-body{
    padding: 0;
}
.slidePanel .carousel-control.right{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%);
}
.slidePanel .carousel-control.left{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%);
}
#parque{
    border: solid rgba(79, 78, 79, 0.07) 5px;
    border-radius: 2px;
}
.contentPanel .panel-heading{
    background: rgba(222, 222, 222, 0.13);
    border-bottom: solid 2px rgba(224, 224, 224, 0.23);
}
.image{
    border-radius: 300px;
    width: 50px;
    height: 50px;
}
.contentPanel .article-text{
    float: right;
    width: 175px;
    padding-bottom: 20px;
    margin-right: 5px;
    margin-top: 5px;
}

