.datepicker-plot-area{
    font-family: YJ, NYJ;
}
.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell{
    font-family: YJ, NYJ;
}
.message{
    color: darkred;
    margin-bottom: 5px;
    font-size: 13px;
}
