#loginModal .modal-dialog{
    width: 400px;
    margin: 200px auto;
}
#loginModal .modal-header{
    font-family: YJ;
    background: rgba(222, 222, 222, 0.13);
    border-bottom: solid 2px rgba(224, 224, 224, 0.23);
    padding: 10px;
}
#loginModal h4{
    font-family: YJ;
}
.uhCol1{
    width: 220px;
}
.user-drop-menu a{
    color: rgba(91, 91, 91, 0.96);
    text-decoration: none;
    transition: 0.5s;
}
.user-drop-menu a:hover{
    color: rgba(26, 26, 26, 0.96);
    transition: 0.5s;
}
.dropdown-menu{
    text-align: right;
}
